body{
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar a{
    color:black;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container{
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-block: 2%;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
    height: 575px;
    align-items: center;
    text-align: center;
    padding-top: 2%;
}

.box1{background: whitesmoke;}
.box2{background: whitesmoke;}
.box3{background: whitesmoke;}
.box4{background: whitesmoke;}
.box5{background: whitesmoke;}
.box6{background: whitesmoke;}
/* .box7{background: blue;} */

h1{
    color: white;
}

.slideshow{
    display: flex;
    flex-wrap: wrap;
}

/* .slideshow a{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1%;
} */

.characters{
    display: flex;
    padding: 5px;
    color: white;
}

.column{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.column p{
    color: white;
}