body{
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar a{
    color:black;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container{
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box1{background: whitesmoke;}
.box2{background: whitesmoke;}
.box3{background: whitesmoke;}
.box4{background: whitesmoke;}